#
# Copyright (C) 2020-2024 Arm Limited or its affiliates and Contributors. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#
name: Build example
on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # https://github.com/ARM-software/cmsis-actions
      - name: Activate vcpkg
        uses: ARM-software/cmsis-actions/vcpkg@v1
        with: 
          config: "./vcpkg-configuration.json"

      # https://github.com/ARM-software/cmsis-actions
      - name: Activate Arm tool license
        uses: ARM-software/cmsis-actions/armlm@v1

      - name: Cache downloaded packs
        uses: actions/cache@v4
        with:
          key: cmsis-packs-download
          path: /home/runner/.cache/arm/packs/.Download

      # Initialize and update the index of CMSIS packs available online
      - name: Initialize CMSIS pack root folder
        run: |
          cpackget init https://www.keil.com/pack/index.pidx
          cpackget update-index

      # Build the release and debug executable for the AC6 compiler for the NUCLEO-F756ZG board
      - name: Build release and debug executable for F756ZG
        run: |
          cbuild hello.csolution.yml --packs --context .+NUCLEO-F756ZG --update-rte --rebuild

      # Build the release and debug executable for the AC6 compiler for Arm Virtual Hardware
      - name: Build release and debug executable for AVH
        run: |
          cbuild hello.csolution.yml --packs --context .+avh --update-rte --rebuild

      # Run the debug executable on Arm Virtual Hardware
      - name: Execute
        run: |
          echo "Running get started example ..."
          FVP_MPS2_Cortex-M7 --simlimit 10 -f fvp_config.txt -a out/hello_avh/avh/Debug/hello_avh.axf | tee hello_avh.log
          echo "Checking output..."
          test "$(grep "FAIL: " hello_avh.log | wc -l)" -eq 0
